<header>
  <div class="container" style="display:none">
    <a href="" class="logo">Logo</a>
    <nav>
    <ul >
      <li><a href="#" routerLink="/" style="display: none;"></a>Home</li>
      <li><a href="" routerLink="/">Home</a></li>
      <li><a href="" routerLink="/Value">Value</a></li>
      <li><a href="" routerLink="/List">BrowRise</a></li>
    </ul>

   
  </nav>
 
  </div>
<app-Nav></app-Nav>
  <div class="container">
    <a href="" class="logo">Logo</a>
    <nav>
    <ul >
      <li style="display: none;"><a href="" routerLink="/"></a>Home</li>
      <li><a href="" routerLink="/">Home</a></li>
      <li><a href="" routerLink="/Value">Value</a></li>
      <li><a href="" routerLink="/List">BrowRise</a></li>
    </ul>

   
  </nav>
 
  </div>
</header>
<div class="container">
  <router-outlet></router-outlet>
</div>

