<h1>WElcome Dear</h1>
<div class="playcontainer">
  <p>You have clicked on 
    <span (click)="CounterClicked()">this</span>  {{count}} times.</p>
</div>

<a [href]="fileUrl" download="file.txt">DownloadFile</a>
<div class="playcontainer">
 <p>
   <input type="text" [(ngModel)]="name">
   <br>
   <strong>You Said :</strong>  {{name}}
 </p>
  
</div>
<audio  controls id="saed" [src]="SrcAudio"></audio>
<ul>
  <li><a #a1 href="../../assets/file_example_MP3_2MG.mp3" (click)="changeAudio(a1)">eeeee</a></li>
  <li><a #a2 href="../../assets/file_example_WAV_2MG.wav" (click)="changeAudio(a2)">saeed</a></li>
 
</ul>

<div class="playcontainer">
 <ng-template [ngIf]="count > 4" [ngIfElse]="none">
  The Count (<strong>{{count}}</strong>)  <strong> IS Greater</strong> than 4.
 </ng-template>

 <ng-template #none>
   the count (<strong>{{count}}</strong>) <strong> IS Not Greater</strong> than 4
 </ng-template>
   
 </div>